
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div>
        <form>
            <div class="form-row align-items-center">
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputName">Name</label>
                    <input type="text" class="form-control" id="inlineFormInputName" placeholder="Item">
                </div>
                <div class="col-sm-3 my-1">
                    <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">XD</div>
                        </div>
                        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
                    </div>
                </div>
                <div class="col-auto my-1">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
     

        <div id="ToDoItems" >

        </div>
  
</div>


<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>


<script>
    "use strict";

    let connection = new signalR.HubConnectionBuilder().withUrl("/compraListHub").build();
    //Disable send button until connection is established
    connection.on("ReceiveMessage", function (items) {
        FetchEmployees();
    });

    connection.start().then(function () {
        FetchEmployees();
  
        event.preventDefault();
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function FetchEmployees() {
        var model = $('#ToDoItems');
        $.ajax({
            url: '/home/GetAllItems',
            contentType: 'application/html ; charset:utf-8',
            type: 'GET',
            dataType: 'html'
        })
            .success(function (result) { model.empty().append(result); })  
    }

    function ChangeStatus(id) {
        console.log(id);
        $.ajax({
            url: '/home/ChangeStatus/' + id,
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                connection.invoke("SyncronizeItems").catch(function (err) {
                    return console.error(err.toString());
                });
            },
            error: function (e) {
                alert('Employee could not be updated');
            }
        });
     
    }

</script>


